# 创建表
create table 表名(
    列名 int not Null auto incretment primary key ，
    列名 数据类型，
    ...);

# 删除表
drop 表名;

# 插入值
insert into 表名(列名，列名) 
value
(val1,val2 ),
(val1,val2) ;

# 查询
select 列 from 表 where 条件；
select * from 表 where 条件；
select 聚合函数 from 表 where 条件；
select * from 表1 表2 where 表1.列=表2.列；
select 列名，count(列名) from 表 where 条件 group by 列名；

# 更新值
update 表
 set 列=新值 
 where 条件；
 
# 删除值
delete from 表 where 条件;

# python 的数据库连接

In [ ]:
import pymysql  


db_cfg = {
    "host": 'localhost',
    "port": 3306,
    "user": 'root',
    "password": '',
    "database": 'stu_python',
    "charset": 'utf8'
}


def query_db(sql,*args,**kwargs):
    with pymysql.connect(**db_cfg) as con:
        with con.cursor() as cursor:
            cursor.execute(sql,*args,**kwargs)
            # 获取所有查询结果，用fetchall()
            # 获取第一条查询结果，用fetchone()
            res = cursor.fetchall()
            for row in res:
                print(row)


def execute_db(sql,*args,**kwargs):
    with pymysql.connect(**db_cfg) as con:
        try:
            with con.cursor() as cursor:
                cursor.execute(sql,*args,**kwargs)
            con.commit()
        except Exception as e:
            con.rollback()
            print(e)
            
# 千万不能用字符串格式化做sq的拼接
# 务必pymysql内部的占位符%s

if __name__ == '__main__':
    sql = 'insert into dj_learn(username,age) values (%s,%s);'
    execute_db(sql,["刘鸣凯",1])
    
    sql2 = 'insert into dj_learn(username,age) values (%(username)s,%(age)s)'
    execute_db(sql2,{"username":"刘鸣鹿","age":1})
    query_db('select * from dj_learn')